In [93]:
import pandas as pd
from scipy import stats

In [94]:
df=pd.read_csv('users/baoqiangzhang/Desktop/experiment_dataset.csv')

In [95]:
df.head()

   Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0           0   62  Location2  Device2    Control   13.928669  0.084776
1           1   18  Location1  Device1  Variant B   11.310518  0.096859
2           2   21  Location2  Device1  Variant B   24.842100  0.097630
3           3   21  Location1  Device3  Variant B   20.061300  0.109783
4           4   57  Location1  Device2  Variant B   34.495503  0.068579

In [96]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [97]:
df['CTR']

0      0.084776
1      0.096859
2      0.097630
3      0.109783
4      0.068579
         ...
995    0.092211
996    0.078151
997    0.125213
998    0.095423
999    0.166688
Name: CTR, Length: 1000, dtype: float64

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         1000 non-null   int64
 1   Location    1000 non-null   object
 2   Device      1000 non-null   object
 3   Variant     1000 non-null   object
 4   Time Spent  1000 non-null   float64
 5   CTR         1000 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 47.0+ KB

In [115]:
df.groupby('Variant')[['Time Spent','CTR']].mean()

           Time Spent       CTR
Variant
Control     20.070781  0.098554
Variant A   24.805547  0.120269
Variant B   23.343783  0.108933

In [116]:
df_control = df[df['Variant'] == 'Control']
df_VA = df[df['Variant'] == 'Variant A']
df_VB = df[df['Variant'] == 'Variant B']

In [100]:
df_control.groupby('Location')[['Time Spent','CTR']].mean()

           Time Spent       CTR
Location
Location1   19.660508  0.099729
Location2   20.298490  0.098512
Location3   20.234980  0.097352

In [101]:
df_VA.groupby('Location')[['Time Spent','CTR']].mean()

           Time Spent       CTR
Location
Location1   24.735102  0.122517
Location2   24.702119  0.120317
Location3   24.986999  0.118095

In [102]:
df_VB.groupby('Location')[['Time Spent','CTR']].mean()

           Time Spent       CTR
Location
Location1   23.801912  0.109465
Location2   23.133070  0.106832
Location3   23.037304  0.110202

In [103]:
df_control.groupby('Device')[['Time Spent','CTR']].mean()

         Time Spent       CTR
Device
Device1   19.754760  0.099213
Device2   20.134126  0.098021
Device3   20.329319  0.098362

In [104]:
df_VA.groupby('Device')[['Time Spent','CTR']].mean()

         Time Spent       CTR
Device
Device1   25.204105  0.122732
Device2   24.450906  0.120637
Device3   24.769778  0.117770

In [105]:
df_VB.groupby('Device')[['Time Spent','CTR']].mean()

         Time Spent       CTR
Device
Device1   23.389005  0.108067
Device2   23.807876  0.110479
Device3   22.750509  0.107832

Q1. Both feature A and B lift the time spent and CTR, and feature A lift more than feature B.

In [106]:
loc_1 = df_control[df_control['Location'] == 'Location1']['Time Spent']
loc_2 = df_control[df_control['Location'] == 'Location2']['Time Spent']
loc_3 = df_control[df_control['Location'] == 'Location3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.5311296350355236, pvalue=0.5884317676358968)

In [107]:
loc_1 = df_VA[df_VA['Location'] == 'Location1']['Time Spent']
loc_2 = df_VA[df_VA['Location'] == 'Location2']['Time Spent']
loc_3 = df_VA[df_VA['Location'] == 'Location3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.10786865370947403, pvalue=0.8977774352465532)

In [108]:
loc_1 = df_VB[df_VB['Location'] == 'Location1']['Time Spent']
loc_2 = df_VB[df_VB['Location'] == 'Location2']['Time Spent']
loc_3 = df_VB[df_VB['Location'] == 'Location3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.7282411459489527, pvalue=0.4835386034301028)

In [109]:
loc_1 = df_control[df_control['Location'] == 'Location1']['CTR']
loc_2 = df_control[df_control['Location'] == 'Location2']['CTR']
loc_3 = df_control[df_control['Location'] == 'Location3']['CTR']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.35909297723125644, pvalue=0.698576290576147)

In [110]:
loc_1 = df_VA[df_VA['Location'] == 'Location1']['CTR']
loc_2 = df_VA[df_VA['Location'] == 'Location2']['CTR']
loc_3 = df_VA[df_VA['Location'] == 'Location3']['CTR']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=1.2708992496308231, pvalue=0.28196134434679604)

In [111]:
loc_1 = df_VB[df_VB['Location'] == 'Location1']['CTR']
loc_2 = df_VB[df_VB['Location'] == 'Location2']['CTR']
loc_3 = df_VB[df_VB['Location'] == 'Location3']['CTR']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.7332333999893166, pvalue=0.4811413587711958)

In [112]:
loc_1 = df_control[df_control['Device'] == 'Device1']['Time Spent']
loc_2 = df_control[df_control['Device'] == 'Device2']['Time Spent']
loc_3 = df_control[df_control['Device'] == 'Device3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.38234475155655273, pvalue=0.6825553776327133)

In [113]:
loc_1 = df_VA[df_VA['Device'] == 'Device1']['Time Spent']
loc_2 = df_VA[df_VA['Device'] == 'Device2']['Time Spent']
loc_3 = df_VA[df_VA['Device'] == 'Device3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.6105113572129157, pvalue=0.5436909187739365)

In [114]:
loc_1 = df_VB[df_VB['Device'] == 'Device1']['Time Spent']
loc_2 = df_VB[df_VB['Device'] == 'Device2']['Time Spent']
loc_3 = df_VB[df_VB['Device'] == 'Device3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=1.2031299296930864, pvalue=0.3015785231949159)

In [118]:
loc_1 = df[df['Variant'] == 'Control']['Time Spent']
loc_2 = df[df['Variant'] == 'Variant A']['Time Spent']
loc_3 = df[df['Variant'] == 'Variant B']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=75.60840947416146, pvalue=2.676826588910432e-31)

In [119]:
loc_1 = df[df['Variant'] == 'Control']['CTR']
loc_2 = df[df['Variant'] == 'Variant A']['CTR']
loc_3 = df[df['Variant'] == 'Variant B']['CTR']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=93.588915936227, pvalue=5.638952705781955e-38)

Q2. There is a statistically significant difference between variants and control group on time spent and 'CTR',
and there is no statistically significant difference between different device and location when facing the same feature.

Q3. Both feature have increased the time spent and 'CTR', so I think if there is no conflict between feature A and feature B, we should depoly them both, and I notice although A variant has higher performance but F statistic is higher, so it is more different changes compare with the control group, so I would suggest deploy feature B first which is more simliar to control group, and see if how it went then deploy feature A.

Q4. About the roll-out plan, I am planning to do it with 4 different stage, first start with variant B in a small group of the user, and monitor for any feedback and errors, this takes approximate a week, then release it to half of the user and be ready to review any feedbacks and improve the feature this takes around a month, and the third stage is total rollout slowly in a quarter，last slowly roll-out the Variant A in a year when users are get used to the variant B which has few difference.