In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('users/baoqiangzhang/Desktop/new_data.csv')

In [11]:
df.describe()

         Unnamed: 0    product_id   category_id         price       user_id
count  1.000000e+07  1.000000e+07  1.000000e+07  1.000000e+07  1.000000e+07
mean   5.000000e+06  1.100008e+07  2.057828e+18  2.925741e+02  5.354292e+08
std    2.886751e+06  1.228346e+07  1.943274e+16  3.538111e+02  2.037214e+07
min    0.000000e+00  1.000365e+06  2.053014e+18  0.000000e+00  1.030022e+07
25%    2.500000e+06  1.005252e+06  2.053014e+18  6.667000e+01  5.159950e+08
50%    5.000000e+06  5.100722e+06  2.053014e+18  1.653100e+02  5.306267e+08
75%    7.499999e+06  1.640001e+07  2.053014e+18  3.654600e+02  5.548916e+08
max    9.999999e+06  6.210003e+07  2.180737e+18  2.574070e+03  5.684226e+08

In [12]:
print(df.dtypes)

Unnamed: 0         int64
event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
dtype: object

In [13]:
df

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
...,...,...,...,...,...,...,...,...,...,...
9999995,9999995,2019-11-07 05:08:21 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,915.69,517800555,c6b764e0-561c-4c17-a546-2e922196bb49
9999996,9999996,2019-11-07 05:08:21 UTC,view,12707281,2053013553559896355,NaN,gislaved,90.86,539095445,b1673b33-d0ff-4a09-bf57-56dedc3d016e
9999997,9999997,2019-11-07 05:08:21 UTC,view,3601405,2053013563810775923,appliances.kitchen.washer,beko,180.16,548916637,e020a307-551c-4e58-a787-126701d30d41
9999998,9999998,2019-11-07 05:08:21 UTC,view,12711053,2053013553559896355,NaN,tunga,32.69,521586999,c8c48941-2ca1-4ce4-8d44-c96eb5df4fb5
9999999,9999999,2019-11-07 05:08:21 UTC,cart,1005121,2053013555631882655,electronics.smartphone,apple,947.98,563025983,9b19a94a-78b9-4ff8-8334-f48eed7cc0a0

In [21]:
duplicates = df.duplicated(subset=['user_id'])

In [23]:
print(df[duplicates])

         Unnamed: 0               event_time event_type  product_id  \
19               19  2019-11-01 00:00:08 UTC       view     1307115
25               25  2019-11-01 00:00:09 UTC       view    26019863
29               29  2019-11-01 00:00:11 UTC       view     1307340
31               31  2019-11-01 00:00:12 UTC       view    16700826
44               44  2019-11-01 00:00:15 UTC       view     4600603
...             ...                      ...        ...         ...
9999995     9999995  2019-11-07 05:08:21 UTC       view     1005115
9999996     9999996  2019-11-07 05:08:21 UTC       view    12707281
9999997     9999997  2019-11-07 05:08:21 UTC       view     3601405
9999998     9999998  2019-11-07 05:08:21 UTC       view    12711053
9999999     9999999  2019-11-07 05:08:21 UTC       cart     1005121

                 category_id                  category_code     brand   price  \
19       2053013558920217191             computers.notebook        hp  411.59
25       2053013562837697343                            NaN       NaN   11.79
29       2053013558920217191             computers.notebook      asus  360.34
31       2053013559901684381        furniture.kitchen.chair      nika   47.77
44       2053013563944993659  appliances.kitchen.dishwasher     bosch  684.44
...                      ...                            ...       ...     ...
9999995  2053013555631882655         electronics.smartphone     apple  915.69
9999996  2053013553559896355                            NaN  gislaved   90.86
9999997  2053013563810775923      appliances.kitchen.washer      beko  180.16
9999998  2053013553559896355                            NaN     tunga   32.69
9999999  2053013555631882655         electronics.smartphone     apple  947.98

           user_id                          user_session
19       514028527  df8184cc-3694-4549-8c8c-6b5171877376
25       566280860  341a87d8-8cf4-4b4a-8b7d-749380697af1
29       520772685  816a59f3-f5ae-4ccd-9b23-82aa8c23d33c
31       566255262  173d7b72-1db7-4638-8207-be8148bf3c9f
44       526595547  aab33a9a-29c3-4d50-84c1-8a2bc9256104
...            ...                                   ...
9999995  517800555  c6b764e0-561c-4c17-a546-2e922196bb49
9999996  539095445  b1673b33-d0ff-4a09-bf57-56dedc3d016e
9999997  548916637  e020a307-551c-4e58-a787-126701d30d41
9999998  521586999  c8c48941-2ca1-4ce4-8d44-c96eb5df4fb5
9999999  563025983  9b19a94a-78b9-4ff8-8334-f48eed7cc0a0

[8895418 rows x 10 columns]

In [ ]:
duplicates = df.duplicated(subset=['user_id'])

In [24]:
value_counts = df['event_type'].value_counts()

In [25]:
print(value_counts)

view        9731128
purchase     147105
cart         121767
Name: event_type, dtype: int64

In [26]:
pip install SciPy

Requirement already satisfied: SciPy in /opt/anaconda3/lib/python3.9/site-packages (1.7.1)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /opt/anaconda3/lib/python3.9/site-packages (from SciPy) (1.20.3)
Note: you may need to restart the kernel to use updated packages.